@import "../../Btn/_.styl"

:host >  main.demo
  align-items center
  display flex
  flex-direction column
  justify-content center
  gap 10px

  h3
    font-weight 800
    margin 0
    font-variation-settings 'wght' 800
