main.demo.Lg
  b
    h2
      c-t default
    b.Input.Lg
      input#demo-input-empty(type="text" placeholder=" ")
      label(for="demo-input-empty")
        c-t email

    h2
      c-t preset
    b.Input.Lg
      input#demo-input-val(type="text" placeholder=" " value="i@webc.site")
      label(for="demo-input-val")
        c-t email
