main.demo.Lg
  header.hero
    p.desc
      c-t desc

  section.preview-section
    h2
      c-t desktop_title
    p.sec-desc
      c-t desktop_desc
    .desktop-mockup
      c-nav
        b.L
      b.mockup-body

  section.preview-section
    h2
      c-t mobile_title
    p.sec-desc
      c-t mobile_desc
    .mobile-container
      .mobile-mockup
        c-nav
          b.L
        b.mockup-body

