.H1Txt
  text-align center

  > h1
    background linear-gradient(45deg, #333 0, #666 100%)
    background-clip text
    color #0000
    filter drop-shadow(0 -0.5px 0.5px #0004) drop-shadow(0 0.5px 0.5px #fffc)
    font-size 38px
    font-variation-settings 'wght' 600
    font-weight 600
    letter-spacing 2px
    margin 0 0 4px
    -webkit-text-stroke 1px #0003

  > b
    font-size 18px
    letter-spacing 1px
    margin 0
    color #444
    font-weight 300
    font-variation-settings 'wght' 300
