main.demo.Lg
  div.btn-box
    button.Btn
      c-t default
    button.Btn.Main
      c-t main
    a.Btn(href="//github.com/webc-site")
      c-t link

  h2
    c-t icon
  div.btn-box
    button.BtnC
      i.Ico
