main.demo.Lg
  div.card-box
    a.Card(href="#")
      h2
        c-t cardName
      i
        c-t cardDesc
    a.Card.A(href="#")
      h2
        c-t cardActiveName
      i
        c-t cardActiveDesc
