@import "../O/_.styl"
@import "../Btn/_.styl"
@import "../Ing/_.styl"
@import "../WebC.ls/_.styl"
@import "../WebC.demo/_.styl"
@import "../Nav/_.styl"
@import "../NavL/_.styl"
@import "../H1Txt/_.styl"
@import "../WebC.js/_.styl"

body
  margin 0
  overflow hidden

c-webc-index
  display flex
  height 100dvh
  inset 0
  position absolute
  width 100%

  > c-vs
    > main
      display flex
      flex-direction column
      margin auto
      width 100%

pre.err
  background-color #fff5f5
  border 1px solid #feb2b2
  border-radius 16px
  color #c53030
  font-size 14px
  margin 32px auto
  max-width 600px
  padding 24px
  white-space pre-wrap
  word-break break-all
