.btn-group
  align-items center
  display flex
  flex-wrap wrap
  gap 12px
  justify-content center

dialog.Box
  > form.Lg
    border-radius 16px
    display flex
    padding 24px

    > h3
      font-size 18px
      margin 0

    > p
      color #666
      margin 0
      text-align center
      white-space pre-wrap
