main.demo.Lg
  > b
    display flex
    flex-direction column
    gap 10px
    margin-bottom 10px

    p
      color #515154
      font-size 14px
      margin 0
      white-space pre-wrap

    h2
      margin-top 10px
