main.demo.Lg
  div.box
    main.KvLi
      a(href="#")
        b
          c-t v_name
        b
          c-t v_val
      a(href="#")
        b
          c-t lic_name
        b
          c-t lic_val
      a(href="#")
        b
          c-t status_name
        b
          c-t status_val
  div.box
    a.Kv(href="#")
      b
        c-t v_name
      b
        c-t v_val


