.demo
  &>b
    align-items center
    display flex
    flex-direction column
    gap 12px
    padding 24px
    width 100%

    p
      color #666
      font-size 14px
      margin 0

      > i
        display inline-block
        font-style normal
        margin 0 6px
