main.demo.Lg
  c-select-btn(key="demo-select-btn" value="opt1")
    c-select
      option(value="opt1")
        c-t opt1
      option(value="opt2")
        c-t opt2
      option(value="opt3")
        c-t opt3
    button
      c-t submit
