main.demo.Lg
  .DemoRow
    c-pophover
      button.Btn
        c-t auto
      div(slot="pop")
        c-t tip
    c-pophover.left
      button.Btn
        c-t left
      div(slot="pop")
        c-t tip
    c-pophover.right
      button.Btn
        c-t right
      div(slot="pop")
        c-t tip
    c-pophover.bottom
      button.Btn
        c-t bottom
      div(slot="pop")
        c-t tip
    c-pophover.top
      button.Btn
        c-t top
      div(slot="pop")
        c-t tip
