main.demo.Lg
  c-tab
    nav
      a(value="apple")
        c-t apple
      a(value="banana")
        c-t banana
      a(value="orange")
        c-t orange
    b(slot="apple")
      p
        c-t appleInfo
    b(slot="banana")
      p
        c-t bananaInfo
    b(slot="orange")
      p
        c-t orangeInfo
