main.demo.Lg
  nav.Nav
    c-nav
      a.logo(href="#")
        c-t logo
    c-nav
        a.item(href="#")
          c-t link1
        a.item(href="#")
          c-t link2
  p
    c-t desc
  b.content
