main.demo.Lg
  h2
    c-t single
  b
    b.Ing

  h2
    c-t mask
  b
    form.Ing
      h3
        c-t login
      b
        label
          b
            c-t user
          input#ipt-user(type="text" required)
      b
        label
          b
            c-t password
          input#ipt-pass(type="password" required)
      button.Btn.Main(type="submit")
        c-t submit
