c-webc-ls
  flex-direction column
  margin auto
  padding 24px
  width 100%
  max-width 1648px

  &>h2, &>b
    margin-bottom 24px

  &>b
    box-sizing border-box
    display block
    width 100%

  &.Ing
    margin-top 24px

    &>h2, &>b
      display none

  >.bk>.KvLi
    font-size 16px
