@import "../Scroll/_.styl"

c-nav
  max-width 1648px
  margin 0 auto
  align-items center
  box-sizing border-box
  display flex
  gap 12px
  padding 16px 16px 0
  position sticky
  top var(--top)
  width 100%
  z-index 9999

  &.D, &.I
    transition top 0.3s

  &.D
    top 0

  .L
    align-items center
    display flex
    flex 1

  c-i18n
    margin-left auto
